@using ProyectoFinal.Web.Areas.Admin.Models
@model IEnumerable<UserList>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>
<hr />
@{
    if (TempData["borrado"] != null)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Html.Encode(TempData["borrado"])
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    }

    if (TempData["creado"] != null)
    {
<div class="alert alert-success alert-dismissible fade show" role="alert">
    @Html.Encode(TempData["creado"])
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    }

    if (TempData["editado"] != null)
    {
<div class="alert alert-success alert-dismissible fade show" role="alert">
    @Html.Encode(TempData["editado"])
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    }
}
<table id="users" class="table table-bordered table-hover table-striped">
    <thead class="elegant-color white-text">
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Opciones</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>

                @Html.ActionLink("Editar", "Edit", "User", new { area = "Admin", id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                |
                @Html.ActionLink("Eliminar", "Delete", "User", new { area = "Admin", id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>
<script>
    $(document).ready(function () {
        $('#users').DataTable();
    });
</script>
