@model ProyectoFinal.CORE.Malware
@{
    ViewData["Title"] = "Analizando Muestra";
}

<script src="~/scripts/signalr.min.js"></script>

@if (TempData["creado"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Html.Encode(TempData["creado"])
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div align="center">
    <div class="col-md-10">
        <div class="card">
            <h1 class="card-header elegant-color white-text text-center py-4">Analizando...</h1>
            <div class="card-body px-lg-5 pt-0">

                <div align="center">
                    <br />
                    <h3>Analizando @Model.Name</h3>
                    <p id="id" hidden>@Model.Id</p>
                    
                    <h5>
                        <strong>Nombre:</strong>
                        <small class="text-muted">@Model.FileName</small>
                    </h5>
                    <h5>
                        <strong>MD5:</strong>
                        <small data-id="@Model.MD5" class="text-muted">@Model.MD5</small>
                    </h5>
                    <h5>
                        <strong>SHA256:</strong>
                        <small id="md5" class="text-muted">@Model.SHA256</small>
                    </h5><br />

                    <label id="status">Empezando el analisis...</label><br />

                    <div class="progress">
                        <div id="progress" class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0</div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var id = $("#id").text();
        $.ajax({
            type: "POST",
            url: "/Scan/StartAnalysisFile",
            data: { id: id },

        });
    });

    setInterval(fetchStatus, 3000);
    setInterval(fetchProgress, 3000);

    function fetchStatus() {
        $.ajax({
            url: '/Scan/GetStatus',
            type: 'GET',
            success: function (response) {
                $('#status').text(response);
            }
        });
    }

        function fetchProgress() {
            $.ajax({
                url: '/Scan/GetProgress',
                type: 'GET',
                success: function (response) {
                    $('#progress').attr('aria-valuenow', response).css('width', response + "%");
                    $('#progress').text(response + "%");
                }
            });
        }

    </script>