@model MalwareViewModel
@{
    ViewData["Title"] = "Subir Muestra";
}
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js">$('.file-upload').file_upload();</script>

@if (TempData["analyze"] != null)
{
    <div class="alert alert-danger" role="alert">
        @Html.Encode(TempData["analyze"])
    </div>
}

<div align="center">
    <div class="col-md-10">
        <div class="card">
            <h4 class="card-header elegant-color white-text text-center py-4">Analiza un archivo o URL</h4>
            <div class="card-body px-lg-5 pt-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="archivo-tab" data-toggle="tab" href="#archivo" role="tab" aria-controls="archivo"
                           aria-selected="true">Archivo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="url-tab" data-toggle="tab" href="#url" role="tab" aria-controls="url"
                           aria-selected="false">URL</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="archivo" role="tabpanel" aria-labelledby="archivo-tab">
                        @using (Html.BeginForm("Index", "Scan", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <br />
                            <div class="form-group">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="custom-file">
                                    <input id="upload" type="file" name="upload" class="custom-file-input" lang="es">
                                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                                </div>
                                <label>Tamaño máximo de 120mb</label>
                            </div>


                            @if (TempData["grande"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Html.Encode(TempData["grande"])
                                </div>
                            }

                            <button type="submit" class="btn btn-primary">Analizar</button>

                        }
                    </div>
                    <div class="tab-pane fade" id="url" role="tabpanel" aria-labelledby="url-tab">
                        <div class="alert alert-info" role="alert">
                            Proximamente Disponible!
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>$('.file-upload').file_upload();</script>