@model AnalysisThreatCrowdViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ProyectoFinal.CORE.ApplicationUser> SignInManager
@inject UserManager<ProyectoFinal.CORE.ApplicationUser> UserManager

@{
    ViewData["Title"] = "ThreatCrowd";
}


@if (SignInManager.IsSignedIn(User))
{
    <h1>@Model.Malware.Name</h1>
    <hr />
    <div class="row">


        <div class="col-md-8">
            <div class="row">
                <b>Nombre del Analisis:&nbsp; </b>
                @Model.Malware.Name
            </div>

            @if (Model.Malware.Url == null)
            {
                <div class="row">
                    <b>Nombre del Archivo:&nbsp; </b>
                    @Model.Malware.FileName
                </div>
            }
            else
            {
                <div class="row">
                    <b>URL:&nbsp; </b>
                    @Model.Malware.Url
                </div>
            }
            <div class="row">
                <b>Fecha del Analisis:&nbsp; </b>
                @Model.Malware.Date
            </div>
            <div class="row">
                <b>MD5:&nbsp; </b>
                @Model.Malware.MD5
            </div>
            <div class="row">
                <b>SHA256:&nbsp;</b>
                @Model.Malware.SHA256
            </div>
        </div>

        <div class="col-md-2">

            <div class="row">
                @if (Model.Malware.MalwareLevel == ProyectoFinal.CORE.Level.Indeterminado)
                {
                    <h3><span class="badge badge-pill badge-secondary" align="right">Indeterminado</span></h3>

                }

                @if (Model.Malware.MalwareLevel == ProyectoFinal.CORE.Level.Sin_Detecciones)
                {
                    <h3><span class="badge badge-pill badge-success" align="right">No se detectaron Amenazas</span></h3>

                }

                @if (Model.Malware.MalwareLevel == ProyectoFinal.CORE.Level.Sospechoso)
                {
                    <h3><span class="badge badge-pill badge-warning" align="right">Sospechoso</span></h3>

                }

                @if (Model.Malware.MalwareLevel == ProyectoFinal.CORE.Level.Malicioso)
                {
                    <h3><span class="badge badge-pill badge-danger" align="right">Malicioso</span></h3>

                }

            </div>

            <div class="row">
                <h3><span class="badge badge-pill badge-info" align="right">@Model.Malware.MalwareStatus</span></h3>
            </div>

            <div class="row">
                <i class="fab fa-facebook-square fa-fw blue-text fa-2x" aria-hidden="true"></i>
                <i class="fab fa-linkedin fa-fw blue-text fa-2x" aria-hidden="true"></i>
                <i class="fab fa-twitter-square fa-fw blue-text fa-2x" aria-hidden="true"></i>
                <i class="fas fa-envelope-square fa-fw red-text fa-2x" aria-hidden="true"></i>
            </div>


        </div>
    </div>

    <br />

    <h2>Resultados ThreatCrowd</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4>Link ThreatCrowd:&nbsp;</h4>
            <a href="@Model.TCInfo.Permalink">@Model.TCInfo.Permalink</a>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">

            <!--Table-->
            <table id="tcResults" class="table table-bordered table-hover">
                <!--Table head-->
                <thead class="elegant-color white-text">
                    <tr>
                        <th>Resultado Escaneos</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    @foreach (var scan in Model.TCScans)
                    {
                        <tr>
                            <td>@scan.Scan</td>
                        </tr>
                    }

                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->

        </div>

        <div class="col-md-3">
            <div class='table-responsive'>
                <!--Table-->
                <table id="tcResults" class="table table-bordered table-hover">
                    <!--Table head-->
                    <thead class="elegant-color white-text">
                        <tr>
                            <th>Resultado IPs</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        @foreach (var ip in Model.TCIps)
                        {
                            <tr>
                                <td>@ip.Ip</td>
                            </tr>
                        }

                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
        </div>

        <div class="col-md-3">
            <div class='table-responsive'>
                <!--Table-->
                <table id="tcResults" class="table table-bordered table-hover">
                    <!--Table head-->
                    <thead class="elegant-color white-text">
                        <tr>
                            <th>Resultado Dominios</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        @foreach (var domain in Model.TCDomains)
                        {
                            <tr>
                                <td>@domain.Domain</td>
                            </tr>
                        }

                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
        </div>

        <div class="col-md-3">
            <div class='table-responsive'>
                <!--Table-->
                <table id="tcResults" class="table table-bordered table-hover">
                    <!--Table head-->
                    <thead class="elegant-color white-text">
                        <tr>
                            <th>Resultado SubDominios</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        @foreach (var sub in Model.TCSubdomanins)
                        {
                            <tr>
                                <td>@sub.Subdomain</td>
                            </tr>
                        }

                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
        </div>

        <div class="col-md-3">
            <div class='table-responsive'>
                <!--Table-->
                <table id="tcResults" class="table table-bordered table-hover">
                    <!--Table head-->
                    <thead class="elegant-color white-text">
                        <tr>
                            <th>Resultado Emails</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        @if (Model.TCEmails != null)
                        {
                            @foreach (var emails in Model.TCEmails)
                            {
                                <tr>
                                    <td>@emails.Email</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
        </div>

        <div class="col-md-3">
            <div class='table-responsive'>
                <!--Table-->
                <table id="tcResults" class="table table-bordered table-hover">
                    <!--Table head-->
                    <thead class="elegant-color white-text">
                        <tr>
                            <th>Resultado References</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        @if (Model.TCReferences != null)
                        {
                            @foreach (var reference in Model.TCReferences)
                            {
                                <tr>
                                    <td>@reference.Reference</td>
                                </tr>
                            }
                        }

                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
        </div>

        <div class="col-md-3">
            <div class='table-responsive'>
                <!--Table-->
                <table id="tcResults" class="table table-bordered table-hover">
                    <!--Table head-->
                    <thead class="elegant-color white-text">
                        <tr>
                            <th>Resultado Hashes</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        @if (Model.TCHashes != null)
                        {
                            @foreach (var hash in Model.TCHashes)
                            {
                                <tr>
                                    <td>@hash.Hash</td>
                                </tr>
                            }
                        }

                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
        </div>


    <div class="col-md-6">
        <div class='table-responsive'>
            <!--Table-->
            <table id="tcResults" class="table table-bordered table-hover">
                <!--Table head-->
                <thead class="elegant-color white-text">
                    <tr>
                        <th> Resolution Dominio</th>
                    
                    
                        <th>Resolution Ip</th>
                    
                    
                        <th>Resolution Resuelto</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    @if (Model.TCResolutions != null)
                    {
                        @foreach (var resol in Model.TCResolutions)
                        {
                            <tr>
                                <td>@resol.Domain</td>
                            </tr>

                            <tr>
                                <td>@resol.Ip</td>
                            </tr>

                            <tr>
                                <td>@resol.LastResolved</td>
                            </tr>
                        }
                    }

                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>

    </div>

}
else
{
    <div class="alert alert-warning" role="alert">
        No tiene permiso para visualizar esta página
    </div>
}

